<h3>
  <a name="top">&nbsp;</a>
  <%= @competitor.name %>
</h3>

<dl class="dl-horizontal">
  <%= show_attribute :exercise_type_id, value: link_to(@competitor.game_and_exercise_type.exercise_type.name, competition_exercise_type_path(@competitor.game_and_exercise_type.exercise_type.id)) %>
  <%= show_attribute :game_id, value: link_to(@competitor.game_and_exercise_type.game.name, competition_game_path(@competitor.game_and_exercise_type.game.id)) %>
  <%= show_actions namespace: :competition %>
</dl>