<table class="table table-striped">
  <thead>
    <tr class="<%= cycle('odd', 'even') %>">
<% @columns.each do |column| %>
      <th><%= column %></th>
<% end %>      
    </tr>
  </thead>
  <tbody>
<% @data.each do |item| %>
    <tr class="<%= cycle('odd', 'even') %>">
  <% @columns.each do |column| %>
      <td><%= item[column] %></td>
  <% end %>
    </tr>
<% end %>
  </tbody>
</table>
